# Preprocessing steps
1. Imputating missing values (`sklearn.impute`)

In [ ]:
import pandas as pd
import numpy as np

a = pd.DataFrame({
    'A': [1, 2, 3, None, None, 23,56,67,76],
    'B': [54,None,6, None, 1,2,2,5,5],
    'C': ['A','B', np.nan, np.nan, 'B', 'B', 'A', 'A', 'B'],
    'D':['Purchase','Not Purchase','Purchase','Not Purchase','Purchase',
         'Not Purchase','Purchase','Not Purchase','Purchase']
})
a

Rule: never impute the missing values in target variable, drop the rows with missing target variable values

In [ ]:
from sklearn.impute import SimpleImputer
# object creation
si = SimpleImputer()
# fit the imputer
a[['A','B']] = si.fit_transform(a[['A','B']])
si2 = SimpleImputer(strategy='most_frequent')
a['C'] = si2.fit_transform(a[['C']])
a

2. Encoding categorical variables (`sklearn.preprocessing`)
    - Ordinal encoding (`OrdinalEncoder`)
    - Label encoding (`LabelEncoder`) for target variable only
    - One-hot encoding (`OneHotEncoder`)

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder()
a['C'] = oe.fit_transform(a[['C']])
a

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
a['D'] =le.fit_transform(a[['D']])
a

In [ ]:
from sklearn.preprocessing import OneHotEncoder

df = pd.DataFrame({
    'City' : ['Delhi', 'Mumbai', 'Hyderabad', 'Mumbai', 'Delhi'],
    'pop' : [12, 13, 14, 15, 16]
})
he = OneHotEncoder(drop='first', sparse_output=False)
enc_city = he.fit_transform(df[['City']])
df = pd.concat([df, pd.DataFrame(enc_city)], axis=1)
df.drop('City', axis=1, inplace=True)
df

In [ ]:
he.inverse_transform([[1,0],[0,0]])

In [47]:
from sklearn.preprocessing import StandardScaler
df = pd.DataFrame({
    'salary': [123000,100000,500000,120300],
    'age': [44,34,45,30],
})
sc = StandardScaler()
df[['salary','age']] = sc.fit_transform(df)
df

     salary       age
0 -0.525295  0.895953
1 -0.662862 -0.662226
2  1.729601  1.051771
3 -0.541444 -1.285497