In [ ]:
import numpy as np

from sklearn.compose import ColumnTransformer
from sklearn.datasets import fetch_openml
from sklearn.feature_selection import SelectPercentile, chi2
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler
np.random.seed(0)

In [ ]:
X, y = fetch_openml("titanic", version=1, as_frame=True, return_X_y=True)

In [ ]:
numeric_features = ["age", "fare"]
categorical_features = ["embarked", "sex", "pclass"]

In [ ]:
numeric_transformer = Pipeline(
    steps=[("imputer", SimpleImputer(strategy="median")),
            ("scaler", StandardScaler())]
)
numeric_transformer

In [ ]:
categorical_transformer = Pipeline(
    steps=[
        ("encoder", OneHotEncoder(handle_unknown="ignore")),
        ("selector", SelectPercentile(chi2, percentile=50)),
    ]
)
categorical_transformer

In [ ]:
preprocessor = ColumnTransformer(
    transformers=[
        ("numeric", numeric_transformer, numeric_features),
        ("categorical", categorical_transformer, categorical_features),
    ]
)
preprocessor

In [ ]:
import pandas as pd
pd.DataFrame(preprocessor.fit_transform(X,y))

In [ ]:
preprocessor.get_feature_names_out()

In [44]:
fetch_openml('abalone', version=1, as_frame=True, return_X_y=True)

(     Sex  Length  Diameter  Height  Whole_weight  Shucked_weight  \
 0      M   0.455     0.365   0.095        0.5140          0.2245
 1      M   0.350     0.265   0.090        0.2255          0.0995
 2      F   0.530     0.420   0.135        0.6770          0.2565
 3      M   0.440     0.365   0.125        0.5160          0.2155
 4      I   0.330     0.255   0.080        0.2050          0.0895
 ...   ..     ...       ...     ...           ...             ...
 4172   F   0.565     0.450   0.165        0.8870          0.3700
 4173   M   0.590     0.440   0.135        0.9660          0.4390
 4174   M   0.600     0.475   0.205        1.1760          0.5255
 4175   F   0.625     0.485   0.150        1.0945          0.5310
 4176   M   0.710     0.555   0.195        1.9485          0.9455

       Viscera_weight  Shell_weight
 0             0.1010        0.1500
 1             0.0485        0.0700
 2             0.1415        0.2100
 3             0.1140        0.1550
 4             0.0395        0.0550
 ...              ...           ...
 4172          0.2390        0.2490
 4173          0.2145        0.2605
 4174          0.2875        0.3080
 4175          0.2610        0.2960
 4176          0.3765        0.4950

 [4177 rows x 8 columns],
 0       15
 1        7
 2        9
 3       10
 4        7
         ..
 4172    11
 4173    10
 4174     9
 4175    10
 4176    12
 Name: Class_number_of_rings, Length: 4177, dtype: category
 Categories (28, object): ['1', '10', '11', '12', ..., '6', '7', '8', '9'])